<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new write</title>
</head>
<body>
    <h3> write new chat</h3>
    <form action="/chats" method="POST">
        <input  placeholder="who are you" name="from">
        <br>
        <textarea name="msg" >write your message here...</textarea>
        <br>
        <input  placeholder=" add reciever" name="to">
        <button>submit</button>
    </form>
</body>
</html>